* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #fff;
}

ul{
  list-style: none;
}

/*-------------------------------
START SIDEBAR 
-------------------------------- */
.side-navbar {
  cursor: pointer;
  width: 320px;
  height: 100%;
  position: fixed;
  font-size: 15px;
  margin-left: -320px;
  color: #fff;
  background-color: #0ea2bd;
  transition: 0.5s;
}

.nav .nav-item .nav-link span,
.nav .nav-item .nav-link i {
  color:#fff;
  font-weight: bold;
  font-size:15px;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  color: #fff;
  background-color: #ffffff26;
}

.my-container {
  transition: 0.5s;
}

.my-container .top-navbar {
  background-color: #0ea2bd;
  color: #fff;
  overflow: hidden;
}

.my-container .top-navbar .dept-name {
  flex: 1;
  text-align: center;
  letter-spacing: 3px;
}

.active-nav {
  margin-left: 0;
}

/* for main section */
.active-cont {
  margin-left: 320px;
}

#menu-btn {
  color: #fff;
  font-size: 30px;
}


/*-------------------------------
END SIDEBAR 
-------------------------------- */

/*-------------------------------
START HOME CAROUSEL SLIDER 
-------------------------------- */
.carousel .carousel-inner {
  height: 500px;
  object-fit: cover;
}
/*-------------------------------
END HOME CAROUSEL SLIDER 
-------------------------------- */